@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
/* Cormorant Garmond', serif */

* {
  box-sizing: border-box;
  font-family: 'Tahoma', sans-serif;
}
body {
  margin: 0;
  background-color: rgb(250, 250, 240);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
}

/* header {
  height: 120px;
  margin: 0;
  padding: 0;
  background-image: url("https://thumbnails.creationswap.com/gallery/7/3/7339_5.jpg");
  background-position: bottom;
  background-size: cover;

} */


/* Side by Side flex */
.flexContainer {
  display: flex;
  flex-flow: row nowrap;
}
.bootAvailable {
  width: 70vw;
  border: 1px black solid;
}


.bootCollection {    
  width: 30vw;
  min-width: 250px;
  border: 1px black solid;
}



/* Availible Boot Display */
.bootBoxContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.bootBox {
  width: 175px;
  height: 175px;
  margin: 15px;
  position: relative;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
  transition-duration: .5s;
  cursor: pointer;
}
.bootBox:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 20px 60px 0 rgba(0,0,0,0.19);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}

.bootBox img {
  max-width: 100%;
  max-height: 100%;
}


.bootInfo {
  position: absolute;
}
.bootInfo p {
  font-size: 1rem;
  margin: 10px;
  opacity: 0%;
  transition-duration: .5s;
}
.modelNumber {
  margin: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.bootBox:hover p {
  opacity: 100%;
}






/* Collection Display  */
.bootCheck {
  font-size: 1rem;
  text-align: center;
  background-color: rgba(50, 54, 116, .3);
  padding: 10px;
  border-radius: 4px;
}

.bootBoxContainerCollection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.bootBoxCollection {
  margin: 15px;
  height: 225px;
  width: 225px;
  position: relative;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}
.bootBoxCollection .modelNumber {
  position: absolute; 
  z-index: 1;
  margin: 10px;
}

.bootBoxCollection img{
  max-width: 100%;
  max-height: 100%;
  /* object-fit: fill; */
} 

.deleteBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: rgb(24, 24, 24);
  color: rgb(255, 250, 245);
  padding: 8px 11px;
  border-radius: 4px;
  transition-duration: .5s;
  opacity: 30%;
  cursor: pointer;
}
.deleteBtn:hover {
  opacity: 100;
  background-color: rgb(148, 68, 68)
}

.wearsContainer {
  position: absolute;
  top: 57px;
  left: 10px;
}
.incBtn1 {
  display: inline-block;
  border: none;
  background-color: rgb(50, 54, 116);
  color: rgb(255, 250, 245);
  opacity: 30%;
  padding: 5px 8.5px;
  border-radius: 4px;
  transition-duration: .5s;
  cursor: pointer;
}
.incBtn1:hover{
  opacity: 100%;
}
.wearsContainer p {
display: inline-block;
padding-left: 5px;
margin: 0;
}

.cleaningsContainer {
  position: absolute;
  top: 97px;
  left: 10px;
}
.incBtn2 {
  display: inline;
  opacity: 30%;
  border: none;
  background-color: rgb(50, 54, 116);
  color: rgb(255, 250, 245);
  opacity: 30%;
  padding: 5px 8.5px;
  border-radius: 4px;
  transition-duration: .5s;
  cursor: pointer;
}
.incBtn2:hover {
  opacity: 100%;
}
.cleaningsContainer p {
  display: inline;
  padding-left: 5px;
  margin: 0;
}


/* Filter */

.filter {
  text-align: center;
  display: block;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(50, 54, 116, .5);
  border-radius: 4px;
}

.filter h4 {
  display: inline-block;
  padding-right: 10px;
}

footer {
  text-align: center;
  font-weight: 400;
}